* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: hsl(30, 30%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 690px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

picture {
    width: 50%;
}

img {
    width: 100%;
    height: auto;
}

.info {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
}

h2 {
    font-family: "Fraunces", sans-serif;
    font-size: 28px;
    line-height: 32px;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: hsl(228, 12%, 48%);
    margin: 20px 0;
}
.price {
    font-size: 35px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    gap: 15px;
}

.discountedprice {
    font-family: "Fraunces", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}

.originalprice {
    font-size: 16px;
    text-decoration: line-through;
    color: hsl(228, 10%, 48%);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 8px;
    font-size: 14px;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button img {
    width: 16px;
}

button:hover {
    background-color: hsl(158, 36%, 30%);
}

@media (max-width: 600px) {
    .main {
        width: 90%;
        flex-direction: column;
        height: auto;
    }

    picture {
        width: 100%;
    }

    img {
        border-radius: 10px 10px 0 0;
    }

    .info {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    .price {
        flex-direction: column;
    }

    .discountedprice {
        font-size: 28px;
    }

    .originalprice {
        font-size: 14px;
    }

    button {
        width: 100%;
        padding: 15px;
    }
}
